<!doctype html>
<html lang="en" ng-app="gherkinEditor">
<head>
  <meta charset="utf-8">
  <title>gherkin-editor</title>
  <!-- vendors -->
  <script type="text/javascript" src="build/vendor/angular/angular.js"></script>
  <script type="text/javascript" src="build/vendor/angular-sanitize/angular-sanitize.js"></script>
  <!-- own stuff -->
  <script type="text/javascript" src="build/js/controller/index.js"></script>
  <script type="text/javascript" src="build/js/directive/index.js"></script>
  <script type="text/javascript" src="build/js/service/index.js"></script>
  <script type="text/javascript" src="build/js/index.js"></script>
</head>
<body>
  <section ng-controller="FileCtrl">
    <input file-change="openSelected" type="file" accept=".feature" ng-click="openFile=''"/>
    <button ng-click="saveSelected()">Save</button>
    <input file-change="saveAsSelected" type="file" accept=".feature" nwsaveas ng-click="saveFile=''"/>
    <div ng-show="error">{{error}}</div>
  </section>
  <section ng-controller="EditorCtrl" id="editor" contenteditable>
    <article ng-repeat="line in content.lines" gherkin="line"></article>
  </section>
</body>
</html>